# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6 

print(number)

6

##### Assinging float

In [5]:
numberfloat = 2.3

print(numberfloat)

numberfloat = 2.5

print(numberfloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2 
num2 = 3.4

result = num1 + num2 

print(result)

5.4

##### Subtraction

In [8]:
result_sub = num2 - num1 

print(result_sub)

1.4

##### Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)

6.8

##### Division

In [12]:
result_div = num2 / num1
print(result_div)

1.7

##### Floor Division

In [11]:
# will round down to the nearest float.
result_floor = num2 // num1
print(result_floor)

#shorthand
result_floor //=2 
print(result_floor)
#using a floor will always give you a float

1.0
0.0

##### Modulo

In [15]:
result_mod = 100 % 30
print(result_mod)

#shorthand
result_mod %=2
print(result_mod)

10
0

##### Exponential

In [17]:
square = 5**2
print(square)

#shorthand
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [18]:
name = "Egg" 
print(name)

Egg

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("Egg's name is", name)
print("Egg's full name is", name, end = "bert Duong")

Egg's name is Egg
Egg's full name is Eggbert Duong

##### String Concatenation

In [27]:
first = "fish"
last = "yeth"
full = (first + " " + last)
print(full.title())

Fish Yeth

##### Type Conversion

In [28]:
number = "23"
print(type(number))
print(type(int(number)))

change_type = int(number)
#makes a copy of it but like in integer form
change_type += 5 
print(change_type)
print(number)

<class 'str'>
<class 'int'>
28
23

##### input()

In [30]:
# input will always return a string 
name = input("What's ur name? ")
age = int(input("What is your age? "))
print(name)
print(type(name))
print(age)
print(type(age))

What's ur name? Jenn
What is your age? 28
Jenn
<class 'str'>
28
<class 'int'>

##### format()

In [34]:
age = 88
name = "Bobert"

result_string = "Your name is {}, you are {} years old and you need to wear sunscreen. ".format(name,age)
print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

Your name is Bobert, you are 88 years old and you need to wear sunscreen
88 is a great time in life

##### Old Way (python 2)

In [36]:
result_string2 = "You are %s and you look great for your age " %age
print(result_string2)

You are 88 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [38]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What is the model of your car? ")

result_string = "You own a {} {} {} {}, that's so cool. ".format(year,color,make,model)
print(result_string)

What color is your car? black
What year is your car? 2022
What make is your car? Ford
What is the model of your car? Bronco
You own a 2022 black Ford Bronco, that's so cool.

### If Statements

In [43]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5 
num2 = 5

if num1 == num2:
    print("Equal values")
else: 
    print("not equal")
print("Other stuff")

if num2 > num1:
    print("Num 2 is greater than")
elif num2 < num1:
    print("num2 is less than")
else:
    print("They're the same")

Equal values
Other stuff
They're the same

##### 'is' keyword

In [44]:
# use "is" when checking for the same or similar object, not same value 

num3 = 12
num4 = num3

if num3 is num4:
    print("same same")

same same

##### 'in' keyword

In [46]:
char_name = "Eggbert"

if "Egg" in char_name:
    print('Pls stop eating your bed')

Pls stop eating your bed

##### 'not in' keyword'

In [47]:
char_name = "Eggbert"

if "a" not in char_name:
    print("That's not how you spell his name")

That's not how you spell his name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [56]:
name = input("What's your name? ")

if "p" in name or "P" in name:
    print("Your name has a 'p' in it!")
else:
    print("Your name does not have a 'p' in it!")

What's your name? Kenny
Your name does not have a 'p' in it!

## Using 'and'/'or' with If Statements

In [1]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F 

first_name = "Truman"
age = 8

if first_name == "Fish" and age == 7:
    print("Fish is 7!")
elif first_name !="Fish" and age == 7:
    print("My name isn't Fish but I am 7. ")
elif first_name =="Fish" or age == 7:
    print("Either my name is Fish or I'm 7. ")
else:
    print("I don't know my name or my age..")

I don't know my name or my age..

### Elif Statements

In [ ]:
# see above

### Else Statements

In [ ]:
# see above

### For Loops

In [64]:
name = "Jenn"

for letter in range(3): 
    print(name)

Jenn
Jenn
Jenn

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [72]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [74]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [75]:
for i in range(10):
    if i == 5:
        pass
    
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [79]:
total = 0
for i in range(5):
    for j in range(5):
        total += 1 
        print(total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

### While Loops

In [ ]:
# while condition statements run until something is true or false 
#can run infinitely 

num = 0
while num <10:
    print(num)
    num += 1

##### Looping 'While True'

In [3]:
game_running = True
score = 0
while game_running:
    user_input = input("what do you want? ")
    if user_input == "quit":
        game_running = False 
    else:
        print(user_input)
        score += 1
    
    print(f"Score: {score}")

what do you want? food
food
Score: 1
what do you want? help
help
Score: 2
what do you want? a pony
a pony
Score: 3
what do you want? quit
Score: 3

##### While & For Loops Used Together

In [5]:
num = 0 

while num <5: 
    print("\nWhile Loop Iteration: " + str(num +1))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i+1))
        
    num += 1

While Loop Iteration: 1
For Loop Iteration: 1
For Loop Iteration: 2

While Loop Iteration: 2
For Loop Iteration: 1
For Loop Iteration: 2

While Loop Iteration: 3
For Loop Iteration: 1
For Loop Iteration: 2

While Loop Iteration: 4
For Loop Iteration: 1
For Loop Iteration: 2

While Loop Iteration: 5
For Loop Iteration: 1
For Loop Iteration: 2

### Built-In Functions

##### range()

In [7]:
# range(start, stop, step)
# defaults = range(0,required,1)
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [8]:
name = "Bobert"

length = len(name)
print(length)

6

##### help()

In [9]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

In [10]:
print(isinstance(4.5,int))
if isinstance(4.5,float):
    print("this is a float")

False
this is a float

##### abs()

In [11]:
# | 5 | - makes absolute value 

print(abs(-5))

5

### Try and Except

In [15]:
# use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop. 
# use this to log out out graceful and informative error messages 

try: 
    number_test = 0 
    input_num = int(input("Guess a number. "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except: 
    print("ERROR - please change input to a number. ")

Guess a number. 4
Your number is: 4

### Lists

##### Declaring Lists

In [ ]:
my_list = [] 

names = ["Egg", "Fish", "Chak", "Jenn"]
print(names)

##### Indexing a List

In [8]:
#syntax: list_name[start:stop:step]
names = ["Egg", "Fish", "Chak", "Jenn", "Ur Mom", "Bob"]
# single index 
print(names[0])

# index last value 
print(names[-1])

# print starting at the beginning until whatever index is given, non-inclusive of last one 
print(names[:3])

# print from one index to another, non-inclusive of last one 
print(names[0:2])

# print starting at index 1 going up 2 for each iteration
print(names[0::2])

# print starting at the end and gping down by one each time
print(names[::-1])

Egg
Bob
['Egg', 'Fish', 'Chak']
['Egg', 'Fish']
['Egg', 'Chak', 'Ur Mom']
['Bob', 'Ur Mom', 'Jenn', 'Chak', 'Fish', 'Egg']

##### .append()

In [9]:
names.append("Herald")
print(names)

['Egg', 'Fish', 'Chak', 'Jenn', 'Ur Mom', 'Bob', 'Herald']

##### .insert()

In [14]:
names.insert(0,"Cindy")
print(names)

['Cindy', 'Cindy', 'Egg', 'Fish', 'Chak', 'Cindy', 'Jenn', 'Ur Mom', 'Bob', 'Cindy', 'Herald']

##### .pop()

In [15]:
# default is last vaulie 
# pop returns the element thst was removed in case you want to assign it into a variable

my_name = names.pop(-2)
print(my_name)
print(names)

Cindy
['Cindy', 'Cindy', 'Egg', 'Fish', 'Chak', 'Cindy', 'Jenn', 'Ur Mom', 'Bob', 'Herald']


##### .remove()

In [19]:
# value to be removed, NOT the index 
names.remove("Cindy")
print(names)

while "Cindy" in names: 
    names.remove("Cindy")
print(names)

['Egg', 'Fish', 'Chak', 'Cindy', 'Jenn', 'Ur Mom', 'Bob', 'Herald']
['Egg', 'Fish', 'Chak', 'Jenn', 'Ur Mom', 'Bob', 'Herald']

##### del()

In [20]:
# remove by index, be careful can cause indexing errors if you incorrectly 
del names[1]
print(names)

['Egg', 'Chak', 'Jenn', 'Ur Mom', 'Bob', 'Herald']

##### Concatenating Two Lists

In [21]:
list1 = [0,1,2]
list2 = [3,4,5]
big_list = list1 + list2 
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [22]:
names = ["Abby","Babby","Cabby",["Egg", "Fish","Chak"]]
print(names)
print(names[3][2]) # should be Chak

['Abby', 'Babby', 'Cabby', ['Egg', 'Fish', 'Chak']]
Chak

##### Looping Through Lists

In [23]:
# with a For loop using index

for i in range(len(names)):
    print(names[i])
    
# using "in"   
for name in names: 
    print(name)

Abby
Babby
Cabby
['Egg', 'Fish', 'Chak']
Abby
Babby
Cabby
['Egg', 'Fish', 'Chak']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
# list version:
# cubes = [i**3 for i in range(1,11) if (i**3 <= 1000)]
# print(cubes)

#For loop version:
# for i in range(1,800):
#     if (i**3 <= 1000):
#         print(i**3)

#While loop version:
cubes = 0
i = 0
while cubes < 1000:
    cubes = i**3
    print(cubes)
    i += 1

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [41]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range (2,100):
    if i % 2 == 0 and i != 2: 
         continue
    elif i % 3 == 0 and i != 3: 
         continue
    elif i % 5 == 0 and i != 5: 
         continue
    elif i % 7 == 0 and i != 7: 
         continue
    else: 
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [55]:
user_input = input("Please enter your age: ")

try:
    int(user_input)
except:
     print("Error - please enter a number for your age ")

user_age = int(user_input)
if user_age < 18:
    print("\nClassification: Kid ")
elif user_age >= 18 and user_age < 65:
    print("\nClassification: Adult ")
elif user_age >= 65: 
    print("\nClassification: Senior ")

Please enter your age: 4455

Classification: Senior